.best-sellers {
    margin: 80px 0;

    h2 {
        color: $black;
        text-align: center;
        font-family: $heading-font;
        font-size: $font-xl;
        font-style: normal;
        font-weight: 600;
        line-height: 36px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    .sell-items {
        @include flex(row, center, center, nowrap, 30px);
        margin: 70px 0;

        .selling-item {
            @include flex(column, center, center, nowrap, 14px);
            .selling-img {
                @include flex(column, center, center, nowrap, 3px);
                object-fit: cover;

                img {
                    width: 304px;
                    height: auto;
                }
            }

            .selling-text {
                @include flex(column, center, start, nowrap, 7px);
                h3 {
                    color: $black;
                    text-align: left;
                    font-size: $font-xs;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 20px;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                }

                p {
                    color: $gray;
                    font-size: $font-xs;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 22px;
                    margin-top: 15px;
                }

                button {
                    @include flex(null, center, center, null, 5px);
                    padding: 15px 18px;
                    align-self: stretch;
                    border: 1px solid $black;
                    background-color: $white;
                    margin-top: 30px;
                }
            }
        }
    }
}

.new-items {
    @extend .best-sellers;
}