.menu {
    margin: 80px 0;
    @include flex(row, center, center, nowrap, 30px);

    .menu-item {
        @include flex(column, center, center, nowrap, 14px);

        .menu-img {
            @include flex(column, center, center, nowrap, 3px);
            width: 100%;
            object-fit: cover;
        }

        .menu-text {
            text-align: center;
            font-size: $font-md;
            font-style: normal;
            font-weight: 600;
            line-height: 24px;
            letter-spacing: 1.08px;
            text-transform: uppercase;
        }
    }

}

.menu-extend {
    @include flex(row, center, null, nowrap, null);

    .menu-ext-text {
        @include flex(column, center, center, nowrap, 10px);
        background-color: $creme;
        width: 555px;
        height: 348px;

        h1 {
            color: $black;
            text-align: center;
            font-family: $heading-font;
            font-size: $font-xl;
            font-style: normal;
            font-weight: 700;
            line-height: 32px;
            letter-spacing: 1.12px;
            text-transform: uppercase;
            @include flex(column, center, center, nowrap, null);
        }

        p {
            @include flex(column, center, center, nowrap, 25px);
            color: $brown;
            text-align: center;
            font-size: $font-sm;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
        }

        button {
            border: none;
            padding: 15px 18px;
            background-color: $creme;
            text-decoration: 1px underline;
            text-transform: uppercase;
            font-weight: 500;
            @include flex(column, center, center, nowrap, 30px);
        }
    }

    .menu-ext-img {
        @include flex(column, center, center, nowrap, null);

        img {
            width: 555px;
            height: 348px;
            object-fit: cover;
        }
    }
}

.blog {
    h2 {
        color: $black;
        text-align: center;
        font-family: $heading-font;
        font-size: $font-xl;
        font-style: normal;
        font-weight: 600;
        line-height: 36px;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-bottom: 40px;
    }

    .blog-content {
        @extend .menu-extend;

        h1 {
            margin-top: 20px;
        }

        h3 {
            @include flex(column, center, center, nowrap, 30px);
            font-size: $font-sm;
            color: $gray;
            text-transform: uppercase;
            text-align: center;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 1.08px;
            font-family: $base-font;
        }
    }
}